@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Symbols:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Roboto" sans-serif;
}

body {
  background-color: #121212;
  margin: auto; 
  /* width: 90%; */
  text-align: center;
  color: white;
  user-select: none;
}

header nav {
  /* background-color: white; */
  position: relative;
  width: 98%;
  margin: auto;
  display: grid;
  gap: 1vh;
  grid-template-columns: 14fr 1fr 1fr;
  align-items: center;
}
header nav h3 {
  letter-spacing: 4px;
  /* justify-self: start; */
  text-align: left;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(229, 9, 20);
  font-size: 5.8rem;
  /* margin: auto; */
}
header nav .translate {
  text-align: right;
  background-color: rgb(95, 92, 92);
  border: none;
  border-radius: 2rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
}
header nav .translate p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.4rem;
}
header nav .sign {
  margin: auto;
  width: 7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
}

.non-blured {
  width: 90%;
  height: 30vw;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8e8ff9d3-17b4-4ce1-b571-06ba4e025cca/web_tall_panel/IN-en-20241125-TRIFECTA-perspective_fe8a8dbc-e13a-452e-a9c6-284b08c4f974_large.jpg);
  border: 2px solid white;
  border-radius: 4rem;
  overflow: hidden;
  background-position: center center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  box-shadow: inset 0px -900px 0px rgba(72, 32, 32, 0.469);
}
.non-blured h1 {
  width: 40vw;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: white;
  font-weight: 1100;
}
.non-blured p {
  padding: 1vh 0 7vh 0;
  font-size: 3rem;
  color: white;
  font-weight: 900;
  font-family: "Roboto" sans-serif;
}

.join {
  margin-top: 5rem;
}
.join p {
  font-size: 1.8rem;
  font-family: "Noto Sans Symbols", sans-serif;
  font-weight: 1;
  padding: 0.65rem;
}
.join form {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
}
.join form input {
  height: 5.5rem;
  width: 37rem;
  background-color: rgba(47, 41, 41, 0.704);
  border-radius: 9rem;
  border: 0.5px solid rgb(110, 110, 110);
}
.join form input::placeholder {
  padding: 1rem;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: rgba(204, 187, 187, 0.755);
  margin: 1rem;
}
.join form button {
  border: none;
  background-color: rgb(229, 9, 20);
  font-size: 3rem;
  padding: 1.5rem 6rem;
  border-radius: 4rem;
  color: white;
  font-weight: 10;
  display: flex;
  align-items: center;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  font-family: "Roboto";
}
.trending header {
  padding: 5rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  gap: 4rem;
  justify-items: start;
}
.trending header h3 {
  color: rgb(219, 224, 229);
  align-content: center;
  font-size: 4rem;
  font-weight: 700;
}
.trending header button {
  width: 15rem;
  padding: auto;
  color: rgb(255, 255, 255);
  align-items: center;
  border-radius: 3rem;
  background-color: rgba(47, 41, 41, 0.704);
  border: 0.7px solid rgb(146, 145, 145);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.trending header button i,
.trending header button p {
  font-size: 2rem;
}
.trending .suggestion {
  max-width: 110%;
  display: flex;
  overflow-x: scroll;
}
.trending .suggestion .img {
  display: flex;
  width: 20vw;
  height: 24vw;
  position: relative;
  margin: 2rem;
  transition: transform cubic-bezier(0.51, 0.02, 0, 0.17) 0.3s;
}
.trending .suggestion .img:hover {
  transform: scale(1.1);
}
.trending .suggestion img {
  object-fit: contain;
  object-position: center center;
  z-index: -1;
  border-radius: 3vmin;
}
.trending .suggestion h1 {
  position: absolute; /* Position relative to the container */
  left: -2.3rem;
  top: 0.1em;
  font-size: 8vmin; /* Font size of the text */
  -webkit-text-stroke: 2px white;
  font-weight: 1000; /* Make the text bold */
  color: rgb(0, 0, 0); /* Text color */
  z-index: 0;
}
.trending .reason {
  width: 95%;
  overflow-x: sc;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.trending .reason h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: rgb(219, 224, 229);
  padding-bottom: 2rem;
}
.trending .reason .reasons {
  display: flex;
  justify-content: center;
  margin: auto;
}
.trending .reason .reasons div {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 4rem;
  background-color: rgba(44, 41, 42, 0.612);
  box-shadow: inset 0 10rem 10rem rgba(69, 68, 69, 0.755);
  position: relative;
  width: 30%;
  padding: 1rem;
  margin-right: 1.5rem;
  border-radius: 2rem;
  justify-items: start;
}
.trending .reason .reasons div h3 {
  text-align: left;
  grid-column: 1/2;
  top: 0;
  left: 0;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.trending .reason .reasons div img {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 4rem;
  height: 3rem;
  object-fit: cover;
}

.questions {
  width: 80%;
  margin: auto;
  display: grid;
  justify-items: start;
  row-gap: 1.5vmin;
  padding: 5vmin 0;
}
.questions .heading {
  font-size: 3.5vmin;
}
.questions ul {
  width: 100%;
  margin: auto;
  display: grid;
  row-gap: 2vmin;
  list-style: none;
}
.questions ul li {
  width: 93.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: left;
  background-color: rgba(44, 41, 42, 0.612);
  box-shadow: inset 0 10rem 10rem rgba(47, 46, 47, 0.755);
  border-radius: 2rem;
  font-size: 2.2rem;
  font-weight: 300;
  color: white;
  padding: 3rem;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.questions ul li span {
  grid-column: 2/3;
  justify-self: end;
  font-size: 3.5rem;
  font-weight: 100;
}
.questions ul li:hover {
  background-color: rgba(119, 115, 117, 0.612);
  box-shadow: inset 0 10rem 10rem rgba(69, 68, 69, 0.755);
}

.join1 {
  padding: 3rem;
}
.join1 button {
  color: white;
  background-color: rgb(229, 9, 20);
  height: 5rem;
  width: 20rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 4rem;
  padding: auto;
  font-weight: 600;
  margin: 1rem auto;
}
.join1 p {
  font-size: 2rem;
  font-weight: 1;
  letter-spacing: 0.13rem;
}

footer {
  width: 80%;
  margin: auto;
}
footer p,
footer u {
  text-align: left;
  font-size: 2rem;
  color: rgb(181, 184, 187);
  padding: 5rem 0;
}
footer ul {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  list-style: none;
  padding: 2rem 0 10rem 0;
}
footer ul li {
  text-align: left;
  text-decoration: underline;
  font-size: 1.7rem;
  color: rgb(181, 184, 187);
}
footer button {
  padding: 1.5rem;
  width: 16rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid rgb(88, 87, 87);
  border-radius: 3rem;
  background-color: transparent;
}
footer button p,
footer button i {
  color: white;
  font-weight: 100;
  font-size: 1.8rem;
}
footer button .material-symbols-outlined {
  font-size: 1.6rem;
}
footer p {
  font-size: 1.5rem;
}



/* Media query for 1260px size */
/* For changing text sizing. */
@media (max-width: 1260px) {
  .non-blured h1 {
    text-align: center;
    font-size: 4.9rem;
  }
  .non-blured p {
    font-size: 2.5rem;
  }
}


/* For changing text sizing and reasons layout.*/

@media (max-width: 1060px) {
  header nav h3 {
    font-size: 4rem;
    letter-spacing: 2px;
  }
  .non-blured h1 {
    font-size: 4rem;
  }
  .non-blured p {
    font-size: 2rem;
  }
  .trending .reason {
    position: relative;
    width: 110%;
    left: -1rem;
    margin: auto;
    align-items: start;
  }
  .trending .reason .reasons{
    /* background-color: red; */
    flex-direction: column;
    width: 100%;
  }
  .trending .reason .reasons div {
    width: 90%;
    margin-bottom: 1.5rem;
    height: 6rem;
    border-radius: 2rem;
  }
  .trending .reason .reasons div h3{
    font-size: 2.2vmin;
    font-weight: 400;
    grid-row: 1/3;
    align-self: center;
  } 
  .trending .reason .reasons div img{
    font-size: 3vmin;
    font-weight: 400;
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
    padding-right: 0.5rem;
  }
}


/* For changing complete layout. */

@media (max-width: 945px) {
  header nav button.translate p {
    display: none;
  }
  header nav button.translate i{
    font-size: 2rem;
  }
  .non-blured h1 {
    font-size: 3.2rem;
  }
  .non-blured p {
    font-size: 2rem;
  }
  .join p {
    font-size: 1.7vh;
  }
  .trending header {
    display: flex;
    flex-direction: column;
    width: 110%;
    align-items: start;
  }
  .trending header h3 {
    font-size: 3rem;
  }
  .trending header button {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    justify-items: start;
    align-items: center;
  }
  .trending header button i {
    padding: 1rem;
  }
  main .join1{
    width: 100vw;
    box-shadow: inset 0 -50rem 10rem rgba(98, 95, 95, 0.089);
    position: fixed;
    bottom: 0;
    padding: 0;
  }
  footer ul {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  footer ul li{
    font-size: 1.8rem;
  }
  .questions ul li {
    font-size: 1.8rem;
  }
  .questions ul li span {
    font-size: 2rem;
  }
}

/* For changing font-size */
@media (max-width: 760px) {
  .non-blured h1 {
    font-size: 2.5rem;
  }
  .non-blured p {
    font-size: 1.3rem;
  }
  .join form {
    flex-direction: column;
  }
  .join form button {
    font-size: 3vh;
    padding: 1rem 1rem;
    height: 5vh;
    width: 17.8vh;
  }
}

/* For changing font-size */
@media (max-width: 500px) {
  .non-blured h1 {
    font-size: 1.8rem;
  }
  .non-blured p {
    font-size: 1rem;
  }
}